#!name=🍟 Fries: Netflix
#!desc=(BETA) Netflix Mod
#!openUrl=http://boxjs.com/#/app/GetSomeFries.Netflix.beta
#!author=VirgilClyne
#!homepage=https://github.com/VirgilClyne/GetSomeFries/wiki/🍟-Netflix
#!icon=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Netflix.png
#!category=🍟 Fries

^https?:\/\/www\.netflix\.com\/(api\/ftl\/probe)  url script-response-body https://raw.githubusercontent.com/VirgilClyne/GetSomeFries/beta/js/Netflix.beta.js
^https?:\/\/(ios|ios-anycast|ios-prefix)\.prod\.(ftl|cloud|http1)\.netflix\.com\/  url script-response-body https://raw.githubusercontent.com/VirgilClyne/GetSomeFries/beta/js/Netflix.beta.js
^https?:\/\/(android|android-anycast|android-prefix)\.prod\.(ftl|cloud)\.netflix\.com\/  url script-response-body https://raw.githubusercontent.com/VirgilClyne/GetSomeFries/beta/js/Netflix.beta.js
^https?:\/\/(cast|cast-uiboot|android-prefix)\.prod\.(http1)\.netflix\.com\/  url script-response-body https://raw.githubusercontent.com/VirgilClyne/GetSomeFries/beta/js/Netflix.beta.js

hostname = www.netflix.com, *.prod.ftl.netflix.com, *.prod.cloud.netflix.com
